body {
    color: white;
    background: violet;
    font-family: "EB Garamond", serif;
}

header {
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    coloe:white;
}

.chamada {
    background: rgb(227, 65, 215);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
margin-right: 5%;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.categoria-videos img {
opacity:0.6;
}

.categoria-videos img:hover {
opacity: 1.0;
border: 5px solid white;
}